/* Ensure Nav Items are aligned in a row */
.nav-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
}

/* Ensure Nav Links remain in rows on all devices */
.nav-row .nav-item {
  margin: 0 15px;
}
