.footer {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #00bf8f;
  color: #fff;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  text-align: center;
}

.footer a {
  text-decoration: none;
  letter-spacing: 0.05em;
  color: #fff;
}

.footer a:hover {
  color: #008060;
  font-weight: bold;
}
