/* General styles for the navbar */
.sticky-nav {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0 !important;
  width: 100%;
  z-index: 1000;
  /* background-color: rgba(
    0,
    0,
    0,
    0.7
  ); */
  background-color: #00bf8f;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background-color 0.3s ease-in-out;
}

.sticky-nav .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.sticky-nav .nav-link {
  margin-left: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  transition: color 0.3s ease;
  color: #fff;
}

.sticky-nav .nav-link:hover {
  color: #f7941d;
  font-weight: bold;
}

.sticky-nav .nav-link.active {
  color: #f7941d;
  font-weight: bold;
}

@media (max-width: 768px) {
  .sticky-nav .nav-link {
    margin-left: 1rem;
    font-size: 0.9rem;
  }
}
